-- IQE质量检验系统数据库设计 (优化版)
-- 基于当前Vue应用架构设计的MySQL数据库模式，优化去重

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- 物料编码映射表
-- ----------------------------
DROP TABLE IF EXISTS `material_code_mappings`;
CREATE TABLE `material_code_mappings` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `material_name` varchar(100) NOT NULL COMMENT '物料名称',
  `supplier_name` varchar(100) NOT NULL COMMENT '供应商名称',
  `code_prefix` varchar(10) DEFAULT NULL COMMENT '编码前缀',
  `category` varchar(50) DEFAULT NULL COMMENT '物料类别',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_material_code` (`material_code`),
  UNIQUE KEY `uk_material_supplier` (`material_name`, `supplier_name`),
  INDEX `idx_material_name` (`material_name`),
  INDEX `idx_supplier_name` (`supplier_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='物料编码映射表';

-- ----------------------------
-- 库存物料表
-- ----------------------------
DROP TABLE IF EXISTS `inventory_items`;
CREATE TABLE `inventory_items` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `batch_id` varchar(36) NOT NULL COMMENT '关联批次ID',
  `location_id` varchar(36) DEFAULT NULL COMMENT '库位ID',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `quantity` decimal(10, 2) NOT NULL COMMENT '数量',
  `remain_quantity` decimal(10, 2) DEFAULT NULL COMMENT '剩余数量',
  `status` varchar(20) DEFAULT 'normal' COMMENT '状态(normal/frozen/pending/rejected/used)',
  `quality_status` varchar(20) DEFAULT 'pending' COMMENT '质量状态(passed/pending/rejected)',
  `inspection_date` datetime DEFAULT NULL COMMENT '最近检验时间',
  `arrival_time` datetime DEFAULT NULL COMMENT '入库时间',
  `risk_level` varchar(20) DEFAULT 'low' COMMENT '风险等级(low/medium/high)',
  `risk_score` decimal(5, 2) DEFAULT NULL COMMENT '风险分数',
  `risk_reason` varchar(500) DEFAULT NULL COMMENT '风险原因',
  `shelf_life` date DEFAULT NULL COMMENT '有效期',
  `inspector_id` varchar(36) DEFAULT NULL COMMENT '检验员ID',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_batch_id` (`batch_id`),
  INDEX `idx_status` (`status`),
  INDEX `idx_location_id` (`location_id`),
  INDEX `idx_quality_status` (`quality_status`),
  INDEX `idx_material_code` (`material_code`),
  CONSTRAINT `fk_inventory_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='库存物料表';

-- ----------------------------
-- 批次管理表
-- ----------------------------
DROP TABLE IF EXISTS `batches`;
CREATE TABLE `batches` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `batch_no` varchar(32) NOT NULL COMMENT '批次号',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `quantity` decimal(10, 2) DEFAULT NULL COMMENT '数量',
  `unit` varchar(10) DEFAULT NULL COMMENT '单位',
  `production_date` date DEFAULT NULL COMMENT '生产日期',
  `specification` varchar(100) DEFAULT NULL COMMENT '规格',
  `status` varchar(20) DEFAULT 'pending' COMMENT '批次状态(pending/processing/passed/rejected/used)',
  `defect_rate` decimal(5, 2) DEFAULT 0.00 COMMENT '缺陷率',
  `risk_level` varchar(20) DEFAULT 'low' COMMENT '风险等级(low/medium/high)',
  `factory` varchar(50) DEFAULT NULL COMMENT '工厂',
  `line_id` varchar(36) DEFAULT NULL COMMENT '生产线ID',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_batch_no` (`batch_no`),
  INDEX `idx_material_code` (`material_code`),
  INDEX `idx_status` (`status`),
  INDEX `idx_production_date` (`production_date`),
  INDEX `idx_risk_level` (`risk_level`),
  CONSTRAINT `fk_batches_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='批次管理表';

-- ----------------------------
-- 批次活动记录表
-- ----------------------------
DROP TABLE IF EXISTS `batch_activities`;
CREATE TABLE `batch_activities` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `batch_id` varchar(36) NOT NULL COMMENT '关联批次ID',
  `activity_type` varchar(50) NOT NULL COMMENT '活动类型',
  `content` varchar(200) NOT NULL COMMENT '活动内容',
  `details` text DEFAULT NULL COMMENT '详细信息',
  `timestamp` datetime NOT NULL COMMENT '活动时间',
  `operator_id` varchar(36) DEFAULT NULL COMMENT '操作人ID',
  `type` varchar(20) DEFAULT NULL COMMENT '类型标识',
  `color` varchar(20) DEFAULT NULL COMMENT '颜色标识',
  `icon` varchar(50) DEFAULT NULL COMMENT '图标',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  INDEX `idx_batch_id` (`batch_id`),
  INDEX `idx_timestamp` (`timestamp`),
  INDEX `idx_activity_type` (`activity_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='批次活动记录表';

-- ----------------------------
-- 物料类别表
-- ----------------------------
DROP TABLE IF EXISTS `material_categories`;
CREATE TABLE `material_categories` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `name` varchar(100) NOT NULL COMMENT '类别名称',
  `code` varchar(20) DEFAULT NULL COMMENT '类别编码',
  `parent_id` varchar(36) DEFAULT NULL COMMENT '父类别ID',
  `description` text DEFAULT NULL COMMENT '描述',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_parent_id` (`parent_id`),
  INDEX `idx_name` (`name`),
  INDEX `idx_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='物料类别表';

-- ----------------------------
-- 供应商表
-- ----------------------------
DROP TABLE IF EXISTS `suppliers`;
CREATE TABLE `suppliers` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `name` varchar(100) NOT NULL COMMENT '供应商名称',
  `code` varchar(20) DEFAULT NULL COMMENT '供应商编码',
  `contact_person` varchar(50) DEFAULT NULL COMMENT '联系人',
  `contact_phone` varchar(20) DEFAULT NULL COMMENT '联系电话',
  `contact_email` varchar(100) DEFAULT NULL COMMENT '联系邮箱',
  `address` varchar(200) DEFAULT NULL COMMENT '地址',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive)',
  `qualification` varchar(20) DEFAULT NULL COMMENT '资质等级',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_name` (`name`),
  INDEX `idx_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='供应商表';

-- ----------------------------
-- 实验室测试记录表
-- ----------------------------
DROP TABLE IF EXISTS `laboratory_tests`;
CREATE TABLE `laboratory_tests` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `test_no` varchar(32) NOT NULL COMMENT '测试编号',
  `batch_id` varchar(36) NOT NULL COMMENT '关联批次ID',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `test_type` varchar(20) NOT NULL COMMENT '测试类型(incoming/process/outgoing/stability)',
  `method` varchar(50) DEFAULT NULL COMMENT '测试方法',
  `test_item` varchar(100) DEFAULT NULL COMMENT '测试项目',
  `test_procedure` varchar(100) DEFAULT NULL COMMENT '测试程序',
  `inspector_id` varchar(36) DEFAULT NULL COMMENT '检验员ID',
  `reviewer_id` varchar(36) DEFAULT NULL COMMENT '审核员ID',
  `equipment_id` varchar(36) DEFAULT NULL COMMENT '设备ID',
  `result` varchar(20) DEFAULT 'pending' COMMENT '结果(pass/fail/pending/deviation)',
  `evaluation_status` varchar(20) DEFAULT 'pending' COMMENT '标准化状态(OK/NG/pending/warning/deviation)',
  `test_date` datetime DEFAULT NULL COMMENT '测试日期',
  `defect_rate` decimal(5, 2) DEFAULT NULL COMMENT '缺陷率',
  `test_source` varchar(50) DEFAULT NULL COMMENT '测试源',
  `conclusion` text DEFAULT NULL COMMENT '测试结论',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_test_no` (`test_no`),
  INDEX `idx_batch_id` (`batch_id`),
  INDEX `idx_material_code` (`material_code`),
  INDEX `idx_result` (`result`),
  INDEX `idx_test_date` (`test_date`),
  INDEX `idx_inspector_id` (`inspector_id`),
  CONSTRAINT `fk_lab_tests_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='实验室测试记录表';

-- ----------------------------
-- 测试数据明细表
-- ----------------------------
DROP TABLE IF EXISTS `test_data_items`;
CREATE TABLE `test_data_items` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `test_id` varchar(36) NOT NULL COMMENT '测试记录ID',
  `parameter` varchar(100) NOT NULL COMMENT '参数名称',
  `parameter_code` varchar(20) DEFAULT NULL COMMENT '参数代码',
  `value` varchar(100) DEFAULT NULL COMMENT '测试值',
  `unit` varchar(20) DEFAULT NULL COMMENT '单位',
  `lower_limit` decimal(10, 4) DEFAULT NULL COMMENT '下限',
  `upper_limit` decimal(10, 4) DEFAULT NULL COMMENT '上限',
  `status` varchar(20) DEFAULT NULL COMMENT '状态(OK/NG/warning)',
  `type` varchar(20) DEFAULT NULL COMMENT '参数类型',
  `standard_id` varchar(36) DEFAULT NULL COMMENT '关联标准参数ID',
  `notes` varchar(500) DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_test_id` (`test_id`),
  INDEX `idx_parameter` (`parameter`),
  INDEX `idx_status` (`status`),
  CONSTRAINT `fk_test_data_test` FOREIGN KEY (`test_id`) REFERENCES `laboratory_tests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='测试数据明细表';

-- ----------------------------
-- 标准参数表
-- ----------------------------
DROP TABLE IF EXISTS `standard_parameters`;
CREATE TABLE `standard_parameters` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `name` varchar(100) NOT NULL COMMENT '参数名称',
  `code` varchar(20) NOT NULL COMMENT '参数代码',
  `type` varchar(20) DEFAULT NULL COMMENT '参数类型',
  `unit` varchar(20) DEFAULT NULL COMMENT '标准单位',
  `default_lower_limit` decimal(10, 4) DEFAULT NULL COMMENT '默认下限',
  `default_upper_limit` decimal(10, 4) DEFAULT NULL COMMENT '默认上限',
  `description` text DEFAULT NULL COMMENT '描述',
  `significance` text DEFAULT NULL COMMENT '参数意义',
  `applicable_materials` text DEFAULT NULL COMMENT '适用材料',
  `test_equipment` text DEFAULT NULL COMMENT '测试设备',
  `test_method` varchar(100) DEFAULT NULL COMMENT '测试方法',
  `critical_parameter` tinyint(1) DEFAULT 0 COMMENT '是否关键参数',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_code` (`code`),
  INDEX `idx_name` (`name`),
  INDEX `idx_type` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='标准参数表';

-- ----------------------------
-- 质量问题表
-- ----------------------------
DROP TABLE IF EXISTS `quality_issues`;
CREATE TABLE `quality_issues` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `issue_id` varchar(32) NOT NULL COMMENT '问题ID',
  `title` varchar(200) NOT NULL COMMENT '事件标题',
  `type` varchar(20) NOT NULL COMMENT '事件类型(nonconformity/deviation/complaint/observation)',
  `status` varchar(20) DEFAULT 'open' COMMENT '状态(open/in_progress/pending/closed)',
  `source` varchar(50) DEFAULT NULL COMMENT '事件来源',
  `risk_level` varchar(20) DEFAULT NULL COMMENT '风险等级(low/medium/high)',
  `related_batch_id` varchar(36) DEFAULT NULL COMMENT '关联批次ID',
  `material_code` varchar(32) DEFAULT NULL COMMENT '物料编码',
  `product` varchar(100) DEFAULT NULL COMMENT '相关产品',
  `description` text DEFAULT NULL COMMENT '描述',
  `root_cause` text DEFAULT NULL COMMENT '根本原因',
  `corrective_actions` text DEFAULT NULL COMMENT '纠正措施',
  `preventive_actions` text DEFAULT NULL COMMENT '预防措施',
  `responsible_person` varchar(36) DEFAULT NULL COMMENT '责任人',
  `department` varchar(50) DEFAULT NULL COMMENT '责任部门',
  `discovery_date` datetime DEFAULT NULL COMMENT '发现日期',
  `due_date` datetime DEFAULT NULL COMMENT '截止日期',
  `close_date` datetime DEFAULT NULL COMMENT '关闭日期',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_issue_id` (`issue_id`),
  INDEX `idx_status` (`status`),
  INDEX `idx_risk_level` (`risk_level`),
  INDEX `idx_related_batch_id` (`related_batch_id`),
  INDEX `idx_material_code` (`material_code`),
  INDEX `idx_discovery_date` (`discovery_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='质量问题表';

-- ----------------------------
-- 质量指标表
-- ----------------------------
DROP TABLE IF EXISTS `quality_metrics`;
CREATE TABLE `quality_metrics` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `metric_type` varchar(50) NOT NULL COMMENT '指标类型',
  `period` varchar(20) NOT NULL COMMENT '统计周期(daily/weekly/monthly/yearly)',
  `period_start` date DEFAULT NULL COMMENT '周期开始日期',
  `period_end` date DEFAULT NULL COMMENT '周期结束日期',
  `value` decimal(10, 2) DEFAULT NULL COMMENT '指标值',
  `target` decimal(10, 2) DEFAULT NULL COMMENT '目标值',
  `unit` varchar(20) DEFAULT NULL COMMENT '单位',
  `status` varchar(20) DEFAULT NULL COMMENT '状态(normal/warning/critical)',
  `trend` varchar(20) DEFAULT NULL COMMENT '趋势(up/down/stable)',
  `trend_value` decimal(10, 2) DEFAULT NULL COMMENT '趋势值',
  `related_product` varchar(36) DEFAULT NULL COMMENT '相关产品',
  `related_line` varchar(36) DEFAULT NULL COMMENT '相关产线',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_metric_type` (`metric_type`),
  INDEX `idx_period` (`period`, `period_start`, `period_end`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='质量指标表';

-- ----------------------------
-- 产线监控表
-- ----------------------------
DROP TABLE IF EXISTS `production_lines`;
CREATE TABLE `production_lines` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `name` varchar(100) NOT NULL COMMENT '产线名称',
  `code` varchar(20) DEFAULT NULL COMMENT '产线代码',
  `factory` varchar(50) DEFAULT NULL COMMENT '工厂',
  `workshop` varchar(50) DEFAULT NULL COMMENT '车间',
  `status` varchar(20) DEFAULT 'normal' COMMENT '状态(normal/warning/danger/stopped)',
  `cycle_time` decimal(10, 2) DEFAULT NULL COMMENT '生产节拍(秒)',
  `output` int(11) DEFAULT NULL COMMENT '当前产能(件/小时)',
  `defect_rate` decimal(5, 2) DEFAULT NULL COMMENT '不良率(%)',
  `uptime` decimal(10, 2) DEFAULT NULL COMMENT '运行时间(小时)',
  `last_update` datetime DEFAULT NULL COMMENT '最后更新时间',
  `product_id` varchar(36) DEFAULT NULL COMMENT '当前生产产品ID',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_name` (`name`),
  INDEX `idx_code` (`code`),
  INDEX `idx_status` (`status`),
  INDEX `idx_factory` (`factory`, `workshop`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='产线监控表';

-- ----------------------------
-- 产线异常预警表
-- ----------------------------
DROP TABLE IF EXISTS `production_alerts`;
CREATE TABLE `production_alerts` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `line_id` varchar(36) NOT NULL COMMENT '产线ID',
  `time` datetime NOT NULL COMMENT '发生时间',
  `type` varchar(50) NOT NULL COMMENT '异常类型',
  `station` varchar(50) DEFAULT NULL COMMENT '工位',
  `material` varchar(50) DEFAULT NULL COMMENT '涉及物料',
  `description` text NOT NULL COMMENT '异常描述',
  `severity` varchar(20) DEFAULT 'medium' COMMENT '严重程度(low/medium/high)',
  `status` varchar(20) DEFAULT 'open' COMMENT '状态(open/processing/closed)',
  `handled_by` varchar(36) DEFAULT NULL COMMENT '处理人ID',
  `handled_time` datetime DEFAULT NULL COMMENT '处理时间',
  `solution` text DEFAULT NULL COMMENT '解决方案',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_line_id` (`line_id`),
  INDEX `idx_time` (`time`),
  INDEX `idx_type` (`type`),
  INDEX `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='产线异常预警表';

-- ----------------------------
-- 产品表
-- ----------------------------
DROP TABLE IF EXISTS `products`;
CREATE TABLE `products` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `product_id` varchar(32) NOT NULL COMMENT '产品ID',
  `product_name` varchar(100) NOT NULL COMMENT '产品名称',
  `product_code` varchar(32) DEFAULT NULL COMMENT '产品编码',
  `category_id` varchar(36) DEFAULT NULL COMMENT '产品类别ID',
  `specification` varchar(100) DEFAULT NULL COMMENT '规格',
  `description` text DEFAULT NULL COMMENT '描述',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive/discontinued)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_product_id` (`product_id`),
  INDEX `idx_product_code` (`product_code`),
  INDEX `idx_product_name` (`product_name`),
  INDEX `idx_category_id` (`category_id`),
  INDEX `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='产品表';

-- ----------------------------
-- 产品批次表
-- ----------------------------
DROP TABLE IF EXISTS `product_batches`;
CREATE TABLE `product_batches` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `product_id` varchar(36) NOT NULL COMMENT '产品ID',
  `batch_no` varchar(32) NOT NULL COMMENT '批次号',
  `production_date` date NOT NULL COMMENT '生产日期',
  `quantity` int(11) DEFAULT NULL COMMENT '数量',
  `status` varchar(20) DEFAULT 'pending' COMMENT '状态(pending/in_production/completed/rejected)',
  `line_id` varchar(36) DEFAULT NULL COMMENT '生产线ID',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_batch_no` (`batch_no`),
  INDEX `idx_product_id` (`product_id`),
  INDEX `idx_production_date` (`production_date`),
  INDEX `idx_status` (`status`),
  INDEX `idx_line_id` (`line_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='产品批次表';

-- ----------------------------
-- 批次物料关联表
-- ----------------------------
DROP TABLE IF EXISTS `batch_materials`;
CREATE TABLE `batch_materials` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `product_batch_id` varchar(36) NOT NULL COMMENT '产品批次ID',
  `material_batch_id` varchar(36) NOT NULL COMMENT '物料批次ID',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `quantity_used` decimal(10, 2) NOT NULL COMMENT '使用数量',
  `unit` varchar(10) DEFAULT NULL COMMENT '单位',
  `usage_date` datetime DEFAULT NULL COMMENT '使用日期',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  INDEX `idx_product_batch_id` (`product_batch_id`),
  INDEX `idx_material_batch_id` (`material_batch_id`),
  INDEX `idx_material_code` (`material_code`),
  CONSTRAINT `fk_batch_materials_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='批次物料关联表';

-- ----------------------------
-- 仓库库位表
-- ----------------------------
DROP TABLE IF EXISTS `warehouse_locations`;
CREATE TABLE `warehouse_locations` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `location_code` varchar(20) NOT NULL COMMENT '库位编码',
  `location_name` varchar(50) DEFAULT NULL COMMENT '库位名称',
  `factory` varchar(50) NOT NULL COMMENT '工厂',
  `warehouse` varchar(50) DEFAULT NULL COMMENT '仓库',
  `area` varchar(50) DEFAULT NULL COMMENT '区域',
  `capacity` decimal(10, 2) DEFAULT NULL COMMENT '容量',
  `used_capacity` decimal(10, 2) DEFAULT 0.00 COMMENT '已用容量',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive/maintenance)',
  `storage_type` varchar(20) DEFAULT NULL COMMENT '存储类型',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_location_code` (`location_code`),
  INDEX `idx_factory` (`factory`),
  INDEX `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='仓库库位表';

-- ----------------------------
-- 库存移动记录表
-- ----------------------------
DROP TABLE IF EXISTS `inventory_movements`;
CREATE TABLE `inventory_movements` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `inventory_id` varchar(36) NOT NULL COMMENT '库存ID',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `batch_no` varchar(32) NOT NULL COMMENT '批次号',
  `from_location` varchar(36) DEFAULT NULL COMMENT '来源库位ID',
  `to_location` varchar(36) DEFAULT NULL COMMENT '目标库位ID',
  `quantity` decimal(10, 2) NOT NULL COMMENT '移动数量',
  `movement_type` varchar(20) NOT NULL COMMENT '移动类型(in/out/transfer)',
  `movement_date` datetime NOT NULL COMMENT '移动日期',
  `operator_id` varchar(36) DEFAULT NULL COMMENT '操作人ID',
  `reason` varchar(200) DEFAULT NULL COMMENT '移动原因',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  INDEX `idx_inventory_id` (`inventory_id`),
  INDEX `idx_material_code` (`material_code`),
  INDEX `idx_batch_no` (`batch_no`),
  INDEX `idx_movement_date` (`movement_date`),
  INDEX `idx_movement_type` (`movement_type`),
  CONSTRAINT `fk_inventory_movements_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='库存移动记录表';

-- ----------------------------
-- AI智能推荐表
-- ----------------------------
DROP TABLE IF EXISTS `ai_recommendations`;
CREATE TABLE `ai_recommendations` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `title` varchar(200) NOT NULL COMMENT '推荐标题',
  `type` varchar(20) NOT NULL COMMENT '推荐类型(info/warning/error/suggestion)',
  `description` text NOT NULL COMMENT '推荐描述',
  `related_material` varchar(32) DEFAULT NULL COMMENT '相关物料',
  `related_batch` varchar(32) DEFAULT NULL COMMENT '相关批次',
  `related_item_id` varchar(36) DEFAULT NULL COMMENT '关联项ID',
  `related_item_type` varchar(50) DEFAULT NULL COMMENT '关联项类型',
  `priority` int(11) DEFAULT 3 COMMENT '优先级(1-5)',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/dismissed/resolved)',
  `action_type` varchar(20) DEFAULT NULL COMMENT '行动类型(move/inspect/alert/optimize)',
  `suggested_action` text DEFAULT NULL COMMENT '建议行动',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_related_material` (`related_material`),
  INDEX `idx_related_batch` (`related_batch`),
  INDEX `idx_status` (`status`),
  INDEX `idx_type` (`type`),
  INDEX `idx_priority` (`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='AI智能推荐表';

-- ----------------------------
-- 用户表
-- ----------------------------
DROP TABLE IF EXISTS `users`;
CREATE TABLE `users` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `username` varchar(50) NOT NULL COMMENT '用户名',
  `password` varchar(100) NOT NULL COMMENT '密码(加密)',
  `name` varchar(50) DEFAULT NULL COMMENT '姓名',
  `email` varchar(100) DEFAULT NULL COMMENT '邮箱',
  `phone` varchar(20) DEFAULT NULL COMMENT '电话',
  `department` varchar(50) DEFAULT NULL COMMENT '部门',
  `position` varchar(50) DEFAULT NULL COMMENT '职位',
  `role` varchar(20) DEFAULT 'user' COMMENT '角色(admin/manager/user)',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive/locked)',
  `last_login` datetime DEFAULT NULL COMMENT '最后登录时间',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_username` (`username`),
  INDEX `idx_department` (`department`),
  INDEX `idx_role` (`role`),
  INDEX `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='用户表';

-- ----------------------------
-- 流程规则表
-- ----------------------------
DROP TABLE IF EXISTS `process_rules`;
CREATE TABLE `process_rules` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `name` varchar(100) NOT NULL COMMENT '规则名称',
  `trigger_event` varchar(100) NOT NULL COMMENT '触发事件',
  `condition_expression` text COMMENT '触发条件表达式',
  `action_type` varchar(50) NOT NULL COMMENT '动作类型(freeze_batch/send_alert/create_issue/etc)',
  `action_params` text COMMENT '动作参数(JSON)',
  `priority` int DEFAULT 10 COMMENT '规则优先级',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive)',
  `description` text COMMENT '规则描述',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_trigger_event` (`trigger_event`),
  INDEX `idx_status` (`status`),
  INDEX `idx_priority` (`priority`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='流程规则表';

-- ----------------------------
-- NLP意图映射表
-- ----------------------------
DROP TABLE IF EXISTS `nlp_intent_mappings`;
CREATE TABLE `nlp_intent_mappings` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `intent_keyword` varchar(100) NOT NULL COMMENT '意图关键字/短语',
  `mapped_action` varchar(100) NOT NULL COMMENT '映射到的操作',
  `sql_template` text COMMENT '可选SQL模板（供自动生成查询用）',
  `api_endpoint` varchar(200) COMMENT '可选API调用路径',
  `parameters` text COMMENT '参数定义(JSON)',
  `example_queries` text COMMENT '示例查询语句',
  `description` text COMMENT '描述',
  `category` varchar(50) DEFAULT 'general' COMMENT '分类(general/batch/quality/inventory/etc)',
  `status` varchar(20) DEFAULT 'active' COMMENT '状态(active/inactive)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_intent_keyword` (`intent_keyword`),
  INDEX `idx_category` (`category`),
  INDEX `idx_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='NLP意图映射表';

-- ----------------------------
-- 上线追踪表
-- ----------------------------
DROP TABLE IF EXISTS `online_tracking`;
CREATE TABLE `online_tracking` (
  `id` varchar(36) NOT NULL COMMENT '唯一ID (UUID)',
  `batch_id` varchar(36) NOT NULL COMMENT '批次ID',
  `material_code` varchar(32) NOT NULL COMMENT '物料编码',
  `line_id` varchar(36) NOT NULL COMMENT '产线ID',
  `factory` varchar(50) NOT NULL COMMENT '工厂',
  `quantity` decimal(10, 2) NOT NULL COMMENT '上线数量',
  `defect_rate` decimal(5, 2) DEFAULT 0.00 COMMENT '不良率',
  `status` varchar(20) DEFAULT 'normal' COMMENT '状态(normal/abnormal)',
  `online_time` datetime NOT NULL COMMENT '上线时间',
  `project_id` varchar(36) DEFAULT NULL COMMENT '项目ID',
  `baseline_id` varchar(36) DEFAULT NULL COMMENT '基线ID',
  `defects` text DEFAULT NULL COMMENT '不良现象(JSON)',
  `notes` text DEFAULT NULL COMMENT '备注',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  INDEX `idx_batch_id` (`batch_id`),
  INDEX `idx_material_code` (`material_code`),
  INDEX `idx_line_id` (`line_id`),
  INDEX `idx_online_time` (`online_time`),
  INDEX `idx_status` (`status`),
  CONSTRAINT `fk_online_tracking_material_code` FOREIGN KEY (`material_code`) REFERENCES `material_code_mappings` (`material_code`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='上线追踪表';

SET FOREIGN_KEY_CHECKS = 1;
